<!--mysite/multimedia/templates/base.html-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ site_title }} | {{ page_title}}</title>
    {% load static %}
    <link href="{% static 'images/site_logo.png' %}" rel="icon" />
    <link href="{% static 'fonts/setup.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" />
    <script src="{% static 'scripts/jquery.js' %}"></script>
  </head>
  <body>
    {% include 'header.html' %}
    {% if route == '' %}
      {% include 'home.html' %}
    {% elif route == 'post' %}
      {% include 'post.html' %}
    {% endif %}
  </body>
</html>