/* mysite/multimedia/static/styles/base.css */

:root{
    --background-light: #68accc;
    --background: white;
    --background-dark: #287494;
    --widget-background: rgb(239, 239, 255);
    --body-font: 14px/1.5 Vidaloka, OdorMeanChey;
    --link: #287494;
    --color: rgb(63, 63, 63);
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--link);
}
a:hover{
    opacity: .7;
}
.region{
    max-width: 1100px;
    margin: 0 auto;
}
  
body{
    color: var(--color);
    font: var(--body-font);
    background: var(--background);
}