/* mysite/multimedia/static/styles/home.css */

.Main .inner{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 15px;
}

.Main .inner ul{
    list-style-type: none;
}

.Main .inner ul li{
    background-color: var(--widget-background);
    display: grid;
    grid-template-columns: 35% 65%;
}

.Main .inner ul li .thumb{
    position: relative;
    padding-top: 56.25%;
}

.Main .inner ul li .thumb a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Main .inner ul li .thumb a img{
    width: 100%;
    height: 100%;
}

.Main .inner ul li .thumb a .play-icon{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15%;
    height: auto;
}

.Main .inner ul li .content{
    padding: 2px 10px;
}

.Main .inner ul li .content a{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 18px/1.5 StardosStencil, Limonf3;
}

.Main .inner ul li .content .except{
    padding-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 15px/1.5 Vidaloka, OdorMeanChey;
}

.Main .inner .sidebar{
    background-color: var(--widget-background);
    padding: 20px;
}

@media only screen and (max-width: 600px){
    .Main .inner{
        grid-template-columns: 100%;
        padding: 20px;
    }

    .Main .inner ul li{
        grid-template-columns: 100%;
    }

    .Main .inner ul li .content{
        padding: 15px;
    }
}