/* mysite/multimedia/static/styles/menu.css */

.Menu{
    background: var(--background-light);
}

.topnav {
    background-color: var(--background-light);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: Oswald, Bayon;
  }
  
  .topnav a.active {
    color: #f5dd5d;
  }

  .topnav a:hover, .topnav a:hover a.active{
    background-color: #ffc;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }