/* mysite/multimedia/static/styles/post.css */

.Post .main{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 15px;
    padding-bottom: 30px;
}

.Post .main .content, .Post .main .sidebar{
    background-color: var(--widget-background);
    padding: 20px;
}

.Post .main .content .title{
    font: 25px/1.5 Oswald, Limonf3;
    padding-bottom: 20px;
}

.Post .main .content .date{
    float: right;
}

.Post .main .content .video{
    padding-bottom: 20px;
}

.Post .main .content .video .screen{
    position: relative;
    padding-top: 56.25%;
}

.Post .main .content .video .screen iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Post .main .content .video .playlist{
    max-height: 361px;
    overflow: auto;
}

.Post .main .content .video .playlist .part{
    padding: 10px;
    font: bold 16px/1.5 Courgette, HandWriting;
    background: lightgrey;
    border: 1px solid grey;
    border-top: none;
    color: rgb(71, 71, 71);
}

.Post .main .content .video .playlist .part:first-child{
    border-top: 1px solid grey;
}

.Post .main .content .video .playlist .part:hover{
    cursor: pointer;
    opacity: .7;
}

.Post .main .content .post-content img{
    max-width: 100%;
}

@media only screen and (max-width: 600px){
    .Post .main{
        grid-template-columns: 100%;
    }
}